<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anxiety</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      rel="shortcut icon"
      href="/static/img/title.ico"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
      integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul class="navigation">
          <li class="item"><a class="href" href="/index">Home</a></li>
          <li class="item"><a class="href" href="/login">Login</a></li>
          <li class="item"><a class="href" href="/register">Sign Up</a></li>
          <li class="item"><a class="href" href="/aboutus">About Us</a></li>
          <li class="item">
            <a class="href" href="https://imjo.in/D4xCjy" target="_blank"
              >Donate</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <div id="heading1">
      <div id="head">
        <h1 class="heading">What Are Anxiety Disorders?</h1>
      </div>
    </div>
    <div class="illness">
      <p>
        Anxiety is a normal reaction to stress and can be beneficial in some
        situations. It can alert us to dangers and help us prepare and pay
        attention. Anxiety disorders differ from normal feelings of nervousness
        or anxiousness, and involve excessive fear or anxiety. Anxiety disorders
        are the most common of mental disorders and affect nearly 30% of adults
        at some point in their lives. But anxiety disorders are treatable and a
        number of effective treatments are available. Treatment helps most
        people lead normal productive lives.
      </p>
      <p>
        Anxiety refers to anticipation of a future concern and is more
        associated with muscle tension and avoidance behavior.
      </p>
      <p>
        Fear is an emotional response to an immediate threat and is more
        associated with a fight or flight reaction – either staying to fight or
        leaving to escape danger.
      </p>
      <p>
        Anxiety disorders can cause people to try to avoid situations that
        trigger or worsen their symptoms. Job performance, school work and
        personal relationships can be affected.
      </p>
      <p>
        In general, for a person to be diagnosed with an anxiety disorder, the
        fear or anxiety must:
      </p>
      <ul>
        <li>Be out of proportion to the situation or age inappropriate</li>
        <li>Hinder ability to function normally</li>
      </ul>
      <h2 class="illnesscap">How Common Are Anxiety Disorders?</h2>
      <p>
        In any given year the estimated percent of U.S. adults with various
        anxiety disorders are:
      </p>
      <ul>
        <li>specific phobia: 8% to 12%</li>
        <li>social anxiety disorder: 7%</li>
        <li>panic disorder: 2% - 3%</li>
        <li>agoraphobia: 1-2.9% in adolescents and adults</li>
        <li>generalized anxiety disorder: 2%</li>
        <li>separation anxiety disorder: 0.9% - 1.9%</li>
      </ul>
      <p>Women are more likely than men to experience anxiety disorders.</p>
      <p>
        There are several types of anxiety disorders, including generalized
        anxiety disorder, panic disorder, specific phobias, agoraphobia, social
        anxiety disorder and separation anxiety disorder.
      </p>
      <h2 class="illnesscap">Types of Anxiety Disorders:</h2>
      <h3 class="illnesscap">Generalized Anxiety Disorder</h3>
      <p>
        Generalized anxiety disorder involves persistent and excessive worry
        that interferes with daily activities. This ongoing worry and tension
        may be accompanied by physical symptoms, such as restlessness, feeling
        on edge or easily fatigued, difficulty concentrating, muscle tension or
        problems sleeping. Often the worries focus on everyday things such as
        job responsibilities, family health or minor matters such as chores, car
        repairs, or appointments.
      </p>
      <h3 class="illnesscap">Panic Disorder</h3>
      <p>
        The core symptom of panic disorder is recurrent panic attacks, an
        overwhelming combination of physical and psychological distress. During
        an attack several of these symptoms occur in combination:
      </p>
      <ul>
        <li>Palpitations, pounding heart or rapid heart rate</li>
        <li>Sweating</li>
        <li>Trembling or shaking</li>
        <li>Feeling of shortness of breath or smothering sensations</li>
        <li>Chest pain</li>
        <li>Feeling dizzy, light-headed or faint</li>
        <li>Feeling of choking</li>
        <li>Numbness or tingling</li>
        <li>Chills or hot flashes</li>
        <li>Nausea or abdominal pains</li>
        <li>Feeling detached</li>
        <li>Fear of losing control</li>
        <li>Fear of dying</li>
      </ul>
      <p>
        Because the symptoms are so severe, many people who experience a panic
        attack may believe they are having a heart attack or other
        life-threatening illness. They may go to a hospital emergency
        department. Panic attacks may be expected, such as a response to a
        feared object, or unexpected, apparently occurring for no reason. The
        mean age for onset of panic disorder is 20-24. Panic attacks may occur
        with other mental disorders such as depression or PTSD.
      </p>
      <h3 class="illnesscap">Phobias, Specific Phobia</h3>
      <p>
        A specific phobia is excessive and persistent fear of a specific object,
        situation or activity that is generally not harmful. Patients know their
        fear is excessive, but they can’t overcome it. These fears cause such
        distress that some people go to extreme lengths to avoid what they fear.
        Examples are public speaking, fear of flying or fear of spiders.
      </p>
      <h3 class="illnesscap">Agoraphobia</h3>
      <p>
        Agoraphobia is the fear of being in situations where escape may be
        difficult or embarrassing, or help might not be available in the event
        of panic symptoms. The fear is out of proportion to the actual situation
        and lasts generally six months or more and causes problems in
        functioning. A person with agoraphobia experiences this fear in two or
        more of the following situations:
      </p>
      <ul>
        <li>Using public transportation</li>
        <li>Being in open spaces</li>
        <li>Being in enclosed places</li>
        <li>Standing in line or being in a crowd</li>
        <li>Being outside the home alone</li>
      </ul>
      <p>
        The individual actively avoids the situation, requires a companion or
        endures with intense fear or anxiety. Untreated agoraphobia can become
        so serious that a person may be unable to leave the house. A person can
        only be diagnosed with agoraphobia if the fear is intensely upsetting,
        or if it significantly interferes with normal daily activities.
      </p>
      <h3 class="illnesscap">
        Social Anxiety Disorder (previously called social phobia)
      </h3>
      <p>
        A person with social anxiety disorder has significant anxiety and
        discomfort about being embarrassed, humiliated, rejected or looked down
        on in social interactions. People with this disorder will try to avoid
        the situation or endure it with great anxiety. Common examples are
        extreme fear of public speaking, meeting new people or eating/drinking
        in public. The fear or anxiety causes problems with daily functioning
        and lasts at least six months.
      </p>
      <h3 class="illnesscap">Separation Anxiety Disorder</h3>
      <p>
        A person with separation anxiety disorder is excessively fearful or
        anxious about separation from those with whom he or she is attached. The
        feeling is beyond what is appropriate for the person’s age, persists (at
        least four weeks in children and six months in adults) and causes
        problems functioning. A person with separation anxiety disorder may be
        persistently worried about losing the person closest to him or her, may
        be reluctant or refuse to go out or sleep away from home or without that
        person, or may experience nightmares about separation. Physical symptoms
        of distress often develop in childhood, but symptoms can carry though
        adulthood.
      </p>
      <h2 class="illnesscap">Risk Factors</h2>
      <p>
        The causes of anxiety disorders are currently unknown but likely involve
        a combination of factors including genetic, environmental, psychological
        and developmental. Anxiety disorders can run in families, suggesting
        that a combination of genes and environmental stresses can produce the
        disorders.
      </p>
      <h2 class="illnesscap">Diagnosis and Treatment</h2>
      <p>
        The first step is to see your doctor to make sure there is no physical
        problem causing the symptoms. If an anxiety disorder is diagnosed, a
        mental health professional can work with you on finding the best
        treatment. Unfortunately, many people with anxiety disorders don’t seek
        help. They don’t realize that they have an illness for which there are
        effective treatments.
      </p>
      <p>
        Although each anxiety disorder has unique characteristics, most respond
        well to two types of treatment: <strong>psychotherapy</strong>, or “talk
        therapy,” and medications. These treatments can be given alone or in
        combination. Cognitive behavior therapy (CBT), a type of talk therapy,
        can help a person learn a different way of thinking, reacting and
        behaving to help feel less anxious. Medications will not cure anxiety
        disorders, but can provide significant relief from symptoms. The most
        commonly used medications are anti-anxiety medications (generally
        prescribed only for a short period of time) and antidepressants.
        Beta-blockers, used for heart conditions, are sometimes used to control
        physical symptoms of anxiety.
      </p>
      <h2 class="illnesscap">Self-Help, Coping, and Managing</h2>
      <p>
        There are a number of things people do to help cope with symptoms of
        anxiety disorders and make treatment more effective. Stress management
        techniques and meditation can be helpful. Support groups (in-person or
        online) can provide an opportunity to share experiences and coping
        strategies. Learning more about the specifics of a disorder and helping
        family and friends to understand the condition better can also be
        helpful. Avoid caffeine, which can worsen symptoms, and check with your
        doctor about any medications.
      </p>
      <h2 class="illnesscap">Related Conditions</h2>
      <ul>
        <li>Posttraumatic stress disorder (PTSD)</li>
        <li>Acute stress disorder</li>
        <li>Obsessive-compulsive disorder</li>
        <li>Adjustment disorder</li>
        <li>Selective mutism</li>
      </ul>
    </div>
  </body>
</html>
