<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hey Shrink</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      rel="shortcut icon"
      href="/static/img/title.ico"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
      integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul class="navigation">
          <li class="item"><a class="href" href="/index">Home</a></li>
          <li class="item"><a class="href" href="/login">Login</a></li>
          <li class="item"><a class="href" href="/register">Sign Up</a></li>
          <li class="item"><a class="href" href="/aboutus">About Us</a></li>
          <li class="item">
            <a class="href" href="https://imjo.in/D4xCjy" target="_blank"
              >Donate</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <div id="heading1">
      <div id="head">
        <h1 class="heading">It gets worse before it gets better...</h1>
      </div>
    </div>
    <div>
      <p class="brief">
        If you are going through something this is the right place for you, all
        your problems won't be solved but you will have all the tools to find
        the answers to majority of your problems.
      </p>
    </div>
    <div class="container">
      <div class="leftpane">
        <h2 class="section">Online Resources</h2>
        <br />

        <ul class="list">
          <li><a class="href" href="/depression">Depression</a></li>
          <br />
          <li><a class="href" href="/anxiety">Anxiety</a></li>
          <br />
          <li><a class="href" href="/sexualabuse">Sexual Abuse</a></li>
          <br />
          <li>
            <a class="href" href="/substanceabuse">Substance Abuse</a>
          </li>
          <br />
          <li>
            <a class="href" href="/suicideprevention">Suicide Prevention</a>
          </li>
          <br />
          <li><a class="href" href="/selfharm">Self Harm</a></li>
          <br />

          <li><a class="href" href="/ocd">OCD</a></li>
        </ul>
      </div>
      <div class="rightpane">
        <h2 class="section">Online Help</h2>
        <br />

        <ul class="list">
          <li>
            <a
              class="href"
              href="https://www.vandrevalafoundation.com/"
              target="_blank"
              >Immediate Help</a
            >
          </li>
          <br />
          <li>
            <a class="href" href="https://www.pacetopeace.in/" target="_blank">
              Pace to Peace(Online Counselling)
            </a>
          </li>
          <br />
          <li>
            <a class="href" href="http://www.aagsoindia.org/" target="_blank"
              >AA Meeting</a
            >
          </li>
          <br />
          <li>
            <a
              class="href"
              href="https://naindia.in/all-india-meeting-list/"
              target="_blank"
              >NA Meeting</a
            >
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
