<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OCD</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      rel="shortcut icon"
      href="/static/img/title.ico"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
      integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul class="navigation">
          <li class="item"><a class="href" href="/index">Home</a></li>
          <li class="item"><a class="href" href="/login">Login</a></li>
          <li class="item"><a class="href" href="/register">Sign Up</a></li>
          <li class="item"><a class="href" href="/aboutus">About Us</a></li>
          <li class="item">
            <a class="href" href="https://imjo.in/D4xCjy" target="_blank"
              >Donate</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <div id="heading1">
      <div id="head">
        <h1 class="heading">What is Obsessive-Compulsive Disorder?</h1>
      </div>
    </div>
    <div class="illness">
      <p>
        <strong>Obsessive-compulsive disorder (OCD)</strong>is a disorder in
        which people have recurring, unwanted thoughts, ideas or sensations
        (obsessions) that make them feel driven to do something repetitively
        (compulsions). The repetitive behaviors, such as hand washing, checking
        on things or cleaning, can significantly interfere with a person’s daily
        activities and social interactions.
      </p>
      <p>
        Many people without OCD have distressing thoughts or repetitive
        behaviors. However, these thoughts and behaviors do not typically
        disrupt daily life. For people with OCD, thoughts are persistent, and
        behaviors are rigid. Not performing the behaviors commonly causes great
        distress. Many people with OCD know or suspect their obsessions are not
        realistic; others may think they could be true (known as limited
        insight). Even if they know their obsessions are not realistic, people
        with OCD have difficulty disengaging from the obsessive thoughts or
        stopping the compulsive actions.
      </p>
      <p>
        A diagnosis of OCD requires the presence of obsessions and/or
        compulsions that are time-consuming (more than one hour a day), cause
        significant distress, and impair work or social functioning. OCD affects
        2-3% of people in the United States, and among adults, slightly more
        women than men are affected. OCD often begins in childhood, adolescence,
        or early adulthood; the average age symptoms appear is 19 years old.
      </p>
      <h2 class="illnesscap">Obsessions</h2>
      <p>
        Obsessions are recurrent and persistent thoughts, impulses, or images
        that cause distressing emotions such as anxiety or disgust. Many people
        with OCD recognize that the thoughts, impulses, or images are a product
        of their mind and are excessive or unreasonable. However, the distress
        caused by these intrusive thoughts cannot be resolved by logic or
        reasoning. Most people with OCD try to ease the distress of the
        obsessions with compulsions, ignore or suppress the obsessions, or
        distract themselves with other activities.
      </p>
      <p>Typical obsessions are:</p>
      <ul>
        <li>Fear of getting contaminated by people or the environment</li>
        <li>Disturbing sexual thoughts or images</li>
        <li>Fear of blurting out obscenities or insults</li>
        <li>Extreme concern with order, symmetry, or precision</li>
        <li>
          Recurrent intrusive thoughts of sounds, images, words, or numbers
        </li>
        <li>Fear of losing or discarding something important</li>
      </ul>
      <h2 class="illnesscap">Compulsions</h2>
      <p>
        Compulsions are repetitive behaviors or mental acts that a person feels
        driven to perform in response to an obsession. The behaviors typically
        prevent or reduce a person's distress related to an obsession.
        Compulsions may be excessive responses that are directly relate to an
        obsession (such as excessive hand washing due to the fear of
        contamination) or actions that are completely unrelated to the
        obsession. In the most severe cases, a constant repetition of rituals
        may fill the day, making a normal routine impossible.
      </p>
      <p>Typical compulsions are:</p>
      <ul>
        <li>
          Excessive or ritualized hand washing, showering, brushing teeth, or
          toileting
        </li>
        <li>Repeated cleaning of household objects</li>
        <li>Ordering or arranging things in a particular way</li>
        <li>Repeatedly checking locks, switches, or appliances</li>
        <li>Constantly seeking approval or reassurance</li>
        <li>Repeated counting to a certain number</li>
      </ul>
      <h2 class="illnesscap">Treatment</h2>
      <p>
        Patients with OCD who receive appropriate treatment commonly experience
        an increased improved quality of life and improved functioning.
        Treatment may improve an individual's ability to function at school and
        work, develop and enjoy relationships, and pursue leisure activities.
      </p>
      <h3 class="illnesscap">Cognitive-Behavioral Therapy</h3>
      <p>
        One effective treatment is a type of cognitive-behavioral therapy (CBT)
        known as exposure and response prevention. During treatment sessions,
        patients are exposed to feared situations or images that focus on their
        obsessions, initially leading to increased anxiety. Patients are
        instructed to avoid performing their usual compulsive behaviors (known
        as response prevention). By staying in a feared situation without
        anything terrible happening, patients learn that their fearful thoughts
        are just thoughts rather than reality.
      </p>
      <p>
        People learn that they can cope with their obsessions without relying on
        ritualistic behaviors, and their anxiety decreases over time. Using
        evidence-based guidelines, therapists and patients typically collaborate
        to develop an exposure plan that gradually moves from lower anxiety
        situations to higher anxiety situations. Exposures are performed both in
        treatment sessions and at home. Some people with OCD (especially those
        with limited insight into their illness) may not agree to participate in
        CBT because of the initial anxiety it evokes.
      </p>
      <h3 class="illnesscap">Medication</h3>
      <p>
        A class of medications known as selective serotonin reuptake inhibitors
        (SSRIs), typicall used to treat depression, can also be effective in the
        treatment of OCD. The SSRI dosage used to treat OCD is commonly higher
        than that used to treat depression. Patients who do not respond to one
        SSRI medication sometimes respond to another. Other psychiatric
        medications can also be effective. Noticeable benefit usually takes six
        to twelve weeks.
      </p>
      <p>
        Patients with mild to moderate OCD symptoms are typically treated with
        either CBT or medication depending on patient preference, the patient’s
        cognitive abilities and level of insight, the presence or absence of
        associated psychiatric conditions, and treatment availability. It is
        recommended that patients with severe OCD symptoms receive both CBT and
        medication. .
      </p>
      <h3 class="illnesscap">Caregiver interventions</h3>
      <p>
        In people with OCD who live with family or caregivers, enlisting the
        support of caregivers to help with exposure practice at home is
        recommended.
      </p>
      <h3 class="illnesscap">Self-care</h3>
      <p>
        Maintaining a healthy lifestyle can help in coping with OCD. Also, using
        basic relaxation techniques, such as meditation, yoga, visualization,
        and massage, can help ease the stress and anxiety caused by OCD.
      </p>
      <h3 class="illnesscap">
        Neurosurgical treatment (e.g., deep brain stimulation, anterior
        capsulotomy) in refractory cases
      </h3>
      <p>
        Deep brain stimulation has gained popularity in treating people with
        severe OCD that is not responding to other treatments. Some studies show
        that anterior capsulotomy, a surgical procedure, can also be effective
        but it is underused due to historical prejudice rather than lack of
        clinical effectiveness.
      </p>
      <h3 class="illnesscap">Related Conditions</h3>
      <ul>
        <li>Body Dysmorphic Disorder</li>
        <li>Hoarding Disorder</li>
        <li>Hair-Pulling Disorder (Trichotillomania)</li>
        <li>Skin-Picking Disorder (Excoriation)</li>
      </ul>
    </div>
  </body>
</html>
