<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sexual Abuse</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      rel="shortcut icon"
      href="/static/img/title.ico"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
      integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul class="navigation">
          <li class="item"><a class="href" href="/index">Home</a></li>
          <li class="item"><a class="href" href="/login">Login</a></li>
          <li class="item"><a class="href" href="/register">Sign Up</a></li>
          <li class="item"><a class="href" href="/aboutus">About Us</a></li>
          <li class="item">
            <a class="href" href="https://imjo.in/D4xCjy" target="_blank"
              >Donate</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <div id="heading1">
      <div id="head">
        <h1 class="heading">Recovering from Rape and Sexual Trauma</h1>
      </div>
    </div>
    <div class="illness">
      <p>
        Recovering from sexual assault takes time, and the healing process can
        be painful. But you can regain your sense of control, rebuild your
        self-worth, and learn to heal.
      </p>
      <h2 class="illnesscap">The aftermath of rape and sexual trauma</h2>
      <p>
        Sexual violence is shockingly common in our society. According to the
        Centers for Disease Control and Prevention (CDC), nearly 1 in 5 women in
        the U.S. are raped or sexually assaulted at some point in their lives,
        often by someone they know and trust. In some Asian, African, and Middle
        Eastern countries, that figure is even higher. And sexual assault isn’t
        limited to women; many men and boys suffer rape and sexual trauma each
        year.
      </p>
      <p>
        Regardless of age or gender, the impact of sexual violence goes far
        beyond any physical injuries. The trauma of being raped or sexually
        assaulted can be shattering, leaving you feeling scared, ashamed, and
        alone or plagued by nightmares, flashbacks, and other unpleasant
        memories. The world doesn’t feel like a safe place anymore. You no
        longer trust others. You don’t even trust yourself. You may question
        your judgment, your self-worth, and even your sanity. You may blame
        yourself for what happened or believe that you’re “dirty” or “damaged
        goods.” Relationships feel dangerous, intimacy impossible. And on top of
        that, like many rape survivors, you may struggle with PTSD, anxiety, and
        depression.
      </p>
      <p>
        It’s important to remember that what you’re experiencing is a normal
        reaction to trauma. Your feelings of helplessness, shame, defectiveness,
        and self-blame are symptoms, not reality. No matter how difficult it may
        seem, with these tips and techniques, you can come to terms with what
        happened, regain your sense of safety and trust, and learn to heal and
        move on with your life.
      </p>
      <h2 class="illnesscap">Myths and facts about rape and sexual assault</h2>
      <p>
        Dispelling the toxic, victim-blaming myths about sexual violence can
        help you start the healing process.
      </p>

      <p>Myths and facts about rape and sexual assault</p>
      <ul>
        <li>
          <strong>
            Myth: You can spot a rapist by the way he looks or acts.</strong
          >
          <br />
          <strong> Fact:</strong> There’s no surefire way to identify a rapist.
          Many appear completely normal, friendly, charming, and
          non-threatening.
        </li>

        <li>
          <strong>
            Myth: If you didn’t fight back, you must not have thought it was
            that bad.</strong
          >

          <br />
          <strong> Fact:</strong> During a sexual assault, it’s extremely common
          to freeze. Your brain and body shuts down in shock, making it
          difficult to move, speak, or think.
        </li>

        <li>
          <strong>
            Myth: People who are raped “ask for it” by the way they dress or
            act.</strong
          >
          <br />

          <strong> Fact:</strong> Rape is a crime of opportunity. Studies show
          that rapists choose victims based on their vulnerability, not on how
          sexy they appear or how flirtatious they are.
        </li>

        <li>
          <strong> Myth: Date rape is often a misunderstanding.</strong>
          <br />
          <strong> Fact:</strong> Date rapists often defend themselves by
          claiming the assault was a drunken mistake or miscommunication. But
          research shows that the vast majority of date rapists are repeat
          offenders. These men target vulnerable people and often ply them with
          alcohol in order to rape them.
        </li>

        <li>
          <strong>
            Myth: It’s not rape if you’ve had sex with the person
            before.</strong
          >
          <br />

          <strong> Fact:</strong> Just because you’ve previously consented to
          sex with someone doesn’t give them perpetual rights to your body. If
          your spouse, boyfriend, or lover forces sex against your will, it’s
          rape.
        </li>
      </ul>
      <h2 class="illnesscap">
        Recovering from rape or sexual trauma step 1: Open up about what
        happened to you
      </h2>
      <p>
        It can be extraordinarily difficult to admit that you were raped or
        sexually assaulted. There’s a stigma attached. It can make you feel
        dirty and weak. You may also be afraid of how others will react. Will
        they judge you? Look at you differently? It seems easier to downplay
        what happened or keep it a secret. But when you stay silent, you deny
        yourself help and reinforce your victimhood.
      </p>
      <p>
        <strong>Reach out to someone you trust</strong>. It’s common to think
        that if you don’t talk about your rape, it didn’t really happen. But you
        can’t heal when you’re avoiding the truth. And hiding only adds to
        feelings of shame. As scary as it is to open up, it will set you free.
        However, it’s important to be selective about who you tell, especially
        at first. Your best bet is someone who will be supportive, empathetic,
        and calm. If you don’t have someone you trust, talk to a therapist or
        call a rape crisis hotline.
      </p>
      <p>
        <strong> Challenge your sense of helplessness and isolation.</strong>
        Trauma leaves you feeling powerless and vulnerable. It’s important to
        remind yourself that you have strengths and coping skills that can get
        you through tough times. One of the best ways to reclaim your sense of
        power is by helping others: volunteer your time, give blood, reach out
        to a friend in need, or donate to your favorite charity.
      </p>
      <p>
        <strong> Consider joining a support group</strong> for other rape or
        sexual abuse survivors. Support groups can help you feel less isolated
        and alone. They also provide invaluable information on how to cope with
        symptoms and work towards recovery. If you can’t find a support group in
        your area, look for an online group.
      </p>
      <h2 class="illnesscap">Step 2: Cope with feelings of guilt and shame</h2>
      <p>
        Even if you intellectually understand that you’re not to blame for the
        rape or sexual attack, you may still struggle with a sense of guilt or
        shame. These feelings can surface immediately following the assault or
        arise years after the attack. But as you acknowledge the truth of what
        happened, it will be easier to fully accept that you are not
        responsible. You did not bring the assault on yourself and you have
        nothing to be ashamed about.
      </p>
      <p>Feelings of guilt and shame often stem from misconceptions such as:</p>
      <p>
        <strong> You didn’t stop the assault from happening.</strong> After the
        fact, it’s easy to second guess what you did or didn’t do. But when
        you’re in the midst of an assault, your brain and body are in shock. You
        can’t think clearly. Many people say they feel “frozen.” Don’t judge
        yourself for this natural reaction to trauma. You did the best you could
        under extreme circumstances. If you could have stopped the assault, you
        would have.
      </p>
      <p>
        <strong> You trusted someone you “shouldn’t” have. </strong> One of the
        most difficult things to deal with following an assault by someone you
        know is the violation of trust. It’s natural to start questioning
        yourself and wondering if you missed warning signs. Just remember that
        your attacker is the only one to blame. Don’t beat yourself up for
        assuming that your attacker was a decent human being. Your attacker is
        the one who should feel guilty and ashamed, not you.
      </p>
      <p>
        <strong> You were drunk or not cautious enough. </strong> Regardless of
        the circumstances, the only one who is responsible for the assault is
        the perpetrator. You did not ask for it or deserve what happened to you.
        Assign responsibility where it belongs: on the rapist.
      </p>
      <h2 class="illnesscap">
        Step 3: Prepare for flashbacks and upsetting memories
      </h2>
      <p>
        When you go through something stressful, your body temporarily goes into
        “fight-or-flight” mode. When the threat has passed, your body calms
        down. But traumatic experiences such as rape can cause your nervous
        system to become stuck in a state of high alert. You’re hypersensitive
        to the smallest of stimuli. This is the case for many rape survivors.
      </p>
      <p>
        Flashbacks, nightmares, and intrusive memories are extremely common,
        especially in the first few months following the assault. If your
        nervous system remains “stuck” in the long-term and you develop
        post-traumatic stress disorder (PTSD), they can last much longer.
      </p>
      <p>To reduce the stress of flashbacks and upsetting memories:</p>
      <p>
        <strong> Try to anticipate and prepare for triggers. </strong> Common
        triggers include anniversary dates; people or places associated with the
        rape; and certain sights, sounds, or smells. If you are aware of what
        triggers may cause an upsetting reaction, you’ll be in a better position
        to understand what’s happening and take steps to calm down.
      </p>
      <p>
        <strong> Pay attention to your body’s danger signals. </strong> Your
        body and emotions give you clues when you’re starting to feel stressed
        and unsafe. These clues include feeling tense, holding your breath,
        racing thoughts, shortness of breath, hot flashes, dizziness, and
        nausea.
      </p>
      <p>
        <strong> Take immediate steps to self-soothe.</strong> When you notice
        any of the above symptoms, it’s important to quickly act to calm
        yourself down before they spiral out of control. One of the quickest and
        most effective ways to calm anxiety and panic is to slow down your
        breathing.
      </p>
      <h3 class="illnesscap">
        Soothe panic with this simple breathing exercise
      </h3>
      <ul>
        <li>
          Sit or stand comfortably with your back straight. Put one hand on your
          chest and the other on your stomach.
        </li>
        <li>
          Take a slow breath in through your nose, counting to four. The hand on
          your stomach should rise. The hand on your chest should move very
          little.
        </li>
        <li>Hold your breath for a count of seven.</li>
        <li>
          Exhale through your mouth to a count of eight, pushing out as much air
          as you can while contracting your abdominal muscles. The hand on your
          stomach should move in as you exhale, but your other hand should move
          very little.
        </li>
        <li>
          Inhale again, repeating the cycle until you feel relaxed and centered.
        </li>
      </ul>
      <h3 class="illnesscap">Tips for dealing with flashbacks</h3>
      <p>
        It’s not always possible to prevent flashbacks. But if you find yourself
        losing touch with the present and feeling like the sexual assault is
        happening all over again, there are actions you can take.
      </p>
      <p>
        <strong>
          Accept and reassure yourself that this is a flashback, not
          reality.</strong
        >
        The traumatic event is over and you survived. Here’s a simple script
        that can help: “I am feeling [panicked, frightened, overwhelmed, etc.]
        because I am remembering the rape/sexual assault, but as I look around I
        can see that the assault isn’t happening right now and I’m not actually
        in danger.”
      </p>
      <p>
        <strong> Ground yourself in the present.</strong> Grounding techniques
        can help you direct your attention away from the flashback and back to
        your present environment. For example, try tapping or touching your arms
        or describing your actual environment and what you see when you look
        around—name the place where you are, the current date, and three things
        you see when you look around.
      </p>
      <h2 class="illnesscap">Step 4: Reconnect to your body and feelings</h2>
      <p>
        Since your nervous system is in a hypersensitive state following a rape
        or assault, you may start trying to numb yourself or avoid any
        associations with the trauma. But you can’t selectively numb your
        feelings. When you shut down the unpleasant sensations, you also shut
        down your self-awareness and capacity for joy. You end up disconnected
        both emotionally and physically—existing, but not fully living.
      </p>
      <p>Signs that you’re avoiding and numbing in unhelpful ways:</p>
      <ul>
        <li>
          <strong> Feeling physically shut down. </strong> You don’t feel bodily
          sensations like you used to (you might even have trouble
          differentiating between pleasure and pain).
        </li>
        <li>
          <strong> Feeling separate from your body or surroundings</strong> (you
          may feel like you’re watching yourself or the situation you’re in,
          rather than participating in it).
        </li>
        <li>
          <strong> Having trouble concentrating</strong> and remembering things.
        </li>
        <li>
          <strong>
            Using stimulants, risky activities, or physical pain
          </strong>
          to feel alive and counteract the empty feeling inside of you.
        </li>
        <li><strong>Compulsively using drugs or alcohol. </strong></li>
        <li>
          <strong> Escaping </strong> through fantasies, daydreams, or excessive
          TV, video games, etc.
        </li>
        <li>
          <strong> Feeling detached </strong>from the world, the people in your
          life, and the activities you used to enjoy.
        </li>
      </ul>
      <h3 class="illnesscap">
        To recover after rape, you need to reconnect to your body and feelings
      </h3>
      <p>
        It’s frightening to get back in touch with your body and feelings
        following a sexual trauma. In many ways, rape makes your body the enemy,
        something that’s been violated and contaminated—something you may hate
        or want to ignore. It’s also scary to face the intense feelings
        associated with the assault. But while the process of reconnecting may
        feel threatening, it’s not actually dangerous. Feelings, while powerful,
        are not reality. They won’t hurt you or drive you insane. The true
        danger to your physical and mental health comes from avoiding them.
      </p>
      <p>
        Once you’re back in touch with your body and feelings, you will feel
        more safe, confident, and powerful. You can achieve this through the
        following techniques:
      </p>
      <p>
        <strong> Rhythmic movement.</strong> Rhythm can be very healing. It
        helps us relax and regain a sense of control over our bodies. Anything
        that combines rhythm and movement will work: dancing, drumming,
        marching. You can even incorporate it into your walking or running
        routine by concentrating on the back and forth movements of your arms
        and legs.
      </p>
      <p>
        <strong> Mindfulness meditation.</strong> You can practice mindfulness
        meditation anywhere, even while you are walking or eating. Simply focus
        on what you’re feeling in the present movement—including any bodily
        sensations and emotions. The goal is to observe without judgement.
      </p>
      <p>
        <strong> Yoga, Tai Chi, and Qigong.</strong> These activities combine
        body awareness with relaxing, focused movement and can help relieve
        symptoms of PTSD and trauma.
      </p>
      <p>
        <strong> Massage.</strong> After rape, you may feel uncomfortable with
        human touch. But touching and being touched is an important way we give
        and receive affection and comfort. You can begin to reopen yourself to
        human contact through massage therapy.
      </p>
      <h2 class="illnesscap">Step 5: Stay connected</h2>
      <p>
        It’s common to feel isolated and disconnected from others following a
        sexual assault. You may feel tempted to withdraw from social activities
        and your loved ones. But it’s important to stay connected to life and
        the people who care about you. Support from other people is vital to
        your recovery. But remember that support doesn’t mean that you always
        have to talk about or dwell on what happened. Having fun and laughing
        with people who care about you can be equally healing.
      </p>
      <p>
        <strong> Participate in social activities,</strong> even if you don’t
        feel like it. Do “normal” things with other people, things that have
        nothing to do with the sexual trauma.
      </p>
      <p>
        <strong> Reconnect with old friends. </strong>If you’ve retreated from
        relationships that were once important to you, make the effort to
        reconnect.
      </p>
      <p>
        <strong> Make new friends.</strong> If you live alone or far from family
        and friends, try to reach out and make new friends. Take a class or join
        a club to meet people with similar interests, connect to an alumni
        association, or reach out to neighbors or work colleagues.
      </p>
      <h2 class="illnesscap">Step 6: Nurture yourself</h2>
      <p>
        Healing from sexual trauma is a gradual, ongoing process. It doesn’t
        happen overnight, nor do the memories of the trauma ever disappear
        completely. This can make life seem difficult at times. But there are
        many steps you can take to cope with the residual symptoms and reduce
        your anxiety and fear.
      </p>
      <p>
        <strong> Take time to rest and restore your body’s balance.</strong>
        That means taking a break when you’re tired and avoiding the temptation
        to lose yourself by throwing yourself into activities. Avoid doing
        anything compulsively, including working. If you’re having trouble
        relaxing and letting down your guard, you may benefit from relaxation
        techniques such as meditation and yoga.
      </p>
      <p>
        <strong> Be smart about media consumption. </strong>Avoid watching any
        program that could trigger bad memories or flashbacks. This includes
        obvious things such as news reports about sexual violence and sexually
        explicit TV shows and movies. But you may also want to temporarily avoid
        anything that’s over-stimulating, including social media.
      </p>
      <p>
        <strong> Take care of yourself physically.</strong> It’s always
        important to eat right, exercise regularly, and get plenty of sleep—but
        even more so when you’re healing from trauma. Exercise in particular can
        soothe your traumatized nervous system, relieve stress, and help you
        feel more powerful and in control of your body.
      </p>
      <p>
        <strong> Avoid alcohol and drugs.</strong> Avoid the temptation to
        self-medicate with alcohol or drugs. Substance use worsens many symptoms
        of trauma, including emotional numbing, social isolation, anger, and
        depression. It also interferes with treatment and can contribute to
        problems at home and in your relationships.
      </p>
      <h2 class="illnesscap">
        How to help someone recover from rape or sexual trauma
      </h2>
      <p>
        When a spouse, partner, sibling, or other loved one has been raped or
        sexually assaulted, it can generate painful emotions and take a heavy
        toll on your relationship. You may feel angry and frustrated, be
        desperate for your relationship to return to how it was before the
        assault, or even want to retaliate against your loved one’s attacker.
        But it’s your patience, understanding, and support that your loved one
        needs now, not more displays of aggression or violence.
      </p>
      <p>
        <strong> Let your loved one know that you still love them</strong> and
        reassure them that the assault was not their fault. Nothing they did or
        didn’t do could make them culpable in any way.
      </p>
      <p>
        <strong> Allow your loved one to open up at their own pace.</strong>
        Some victims of sexual assault find it very difficult to talk about what
        happened, others may need to talk about the assault over and over again.
        This can make you feel alternately frustrated or uncomfortable. But
        don’t try to force your loved one to open up or urge them to stop
        rehashing the past. Instead, let them know that you’re there to listen
        whenever they want to talk. If hearing about your loved one’s assault
        brings you discomfort, talking to another person can help put things in
        perspective.
      </p>
      <p>
        <strong>
          Encourage your loved one to seek help, but don’t pressurize.</strong
        >
        Following the trauma of a rape or sexual assault, many people feel
        totally disempowered. You can help your loved one to regain a sense of
        control by not pushing or cajoling. Encourage them to reach out for
        help, but let them make the final decision. Take cues from your loved
        one as to how you can best provide support.
      </p>
      <p>
        <strong> Show empathy and caution about physical intimacy.</strong> It’s
        common for someone who’s been sexually assaulted to shy away from
        physical touch, but at the same time it’s important they don’t feel
        those closest to them are emotionally withdrawing or that they’ve
        somehow been “tarnished” by the attack. As well as expressing affection
        verbally, seek permission to hold or touch your loved one. In the case
        of a spouse or sexual partner, understand that your loved one will
        likely need time to regain a sense of control over their life and body
        before desiring sexual intimacy.
      </p>
      <p>
        <strong> Take care of yourself.</strong> The more calm, relaxed, and
        focused you are, the better you’ll be able to help your loved one.
        Manage your own stress and reach out to others for support.
      </p>
      <p>
        <strong> Be patient.</strong> Healing from the trauma of rape or sexual
        assault takes time. Flashbacks, nightmares, debilitating fear, and other
        symptom of PTSD can persist long after any physical injuries have
        healed. To learn more, read Helping Someone with PTSD.
      </p>
    </div>
  </body>
</html>
