<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Substance Abuse</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      rel="shortcut icon"
      href="/static/img/title.ico"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
      integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul class="navigation">
          <li class="item"><a class="href" href="/index">Home</a></li>
          <li class="item"><a class="href" href="/login">Login</a></li>
          <li class="item"><a class="href" href="/register">Sign Up</a></li>
          <li class="item"><a class="href" href="/aboutus">About Us</a></li>
          <li class="item">
            <a class="href" href="https://imjo.in/D4xCjy" target="_blank"
              >Donate</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <div id="heading1">
      <div id="head">
        <h1 class="heading">What Is a Substance Use Disorder?</h1>
      </div>
    </div>
    <div class="illness">
      <p>
        Substance use disorder (SUD) is complex a condition in which there is
        uncontrolled use of a substance despite harmful consequence. People with
        SUD have an intense focus on using a certain substance(s) such as
        alcohol, tobacco, or illicit drugs, to the point where the person’s
        ability to function in day to day life becomes impaired. People keep
        using the substance even when they know it is causing or will cause
        problems. The most severe SUDs are sometimes called addictions.
      </p>
      <p>
        People with a substance use disorder may have distorted thinking and
        behaviors. Changes in the brain’s structure and function are what cause
        people to have intense cravings, changes in personality, abnormal
        movements, and other behaviors. Brain imaging studies show changes in
        the areas of the brain that relate to judgment, decision making,
        learning, memory, and behavioral control.
      </p>
      <p>
        Repeated substance use can cause changes in how the brain functions.
        These changes can last long after the immediate effects of the substance
        wears off, or in other words, after the period of intoxication.
        Intoxication is the intense pleasure, euphoria, calm, increased
        perception and sense, and other feelings that are caused by the
        substance. Intoxication symptoms are different for each substance.
      </p>
      <p>
        When someone has a substance use disorder, they usually build up a
        tolerance to the substance, meaning they need larger amounts to feel the
        effects.
      </p>
      <p>
        According to the National Institute on Drug Abuse, people begin taking
        drugs for a variety of reasons, including:
      </p>
      <ul>
        <li>
          <strong> feel good</strong> — feeling of pleasure, “high” or
          "intoxication"
        </li>
        <li>
          <strong> feel better</strong> — relieve stress, forget problems, or
          feel numb
        </li>
        <li><strong> do better</strong> — improve performance or thinking</li>
        <li><strong> and peer pressure</strong> or experimenting</li>
      </ul>
      <h2 class="illnesscap">People can develop an addiction to:</h2>
      <ul>
        <li>Alcohol</li>
        <li>Marijuana</li>
        <li>PCP, LSD and other hallucinogens</li>
        <li>Inhalants, such as, paint thinners and glue</li>
        <li>Opioid pain killers, such as codeine and oxycodone, heroin</li>
        <li>
          Sedatives, hypnotics and anxiolytics (medicines for anxiety such as
          tranquilizers)
        </li>
        <li>Cocaine, methamphetamine and other stimulants</li>
        <li>Tobacco</li>
      </ul>
      <p>
        People with substance use and behavioral addictions may be aware of
        their problem but not be able to stop even if they want and try to. The
        addiction may cause physical and psychological problems as well as
        interpersonal problems such as with family members and friends or at
        work. Alcohol and drug use is one of the leading causes of preventable
        illnesses and premature death nationwide.
      </p>
      <p>
        Symptoms of substance use disorder are grouped into four categories:
      </p>
      <ul>
        <li>
          <strong> Impaired control:</strong> a craving or strong urge to use
          the substance; desire or failed attempts to cut down or control
          substance use
        </li>
        <li>
          <strong> Social problems:</strong> substance use causes failure to
          complete major tasks at work, school or home; social, work or leisure
          activities are given up or cut back because of substance use
        </li>
        <li>
          <strong> Risky use:</strong> substance is used in risky settings;
          continued use despite known problems
        </li>
        <li>
          <strong> Drug effects:</strong> tolerance (need for larger amounts to
          get the same effect); withdrawal symptoms (different for each
          substance)
        </li>
      </ul>
      <p>
        Many people experience substance use disorder along with another
        psychiatric disorder. Oftentimes another psychiatric disorder precedes
        substance use disorder, or the use of a substance may trigger or worsen
        another psychiatric disorder.
      </p>
      <h2 class="illnesscap">How Is Substance Use Disorder Treated?</h2>
      <p>Effective treatments for substance use disorders are available.</p>
      <p>
        The first step is recognition of the problem. The recovery process can
        be delayed when a person lacks awareness of problematic substance use.
        Although interventions by concerned friends and family often prompt
        treatment, self-referrals are always welcome and encouraged.
      </p>
      <p>
        A medical professional should conduct a formal assessment of symptoms to
        identify if a substance use disorder is present. All patients can
        benefit from treatment, regardless of whether the disorder is mild,
        moderate, or severe. Unfortunately, many people who meet criteria for a
        substance use disorder and could benefit from treatment don’t receive
        help.
      </p>
      <p>
        Because SUDs affect many aspects of a person’s life, multiple types of
        treatment are often required. For most, a combination of medication and
        individual or group therapy is most effective. Treatment approaches that
        address an individual’s specific situation and any co-occurring medical,
        psychiatric, and social problems is optimal for leading to sustained
        recovery.
      </p>
      <p>
        Medications are used to control drug cravings, relieve symptoms of
        withdrawal, and to prevent relapses. Psychotherapy can help individuals
        with SUD better understand their behavior and motivations, develop
        higher self-esteem, cope with stress, and address other psychiatric
        problems.
      </p>
      <p>
        A person’s recovery plan is unique to the person’s specific needs and
        may include strategies outside of formal treatment. These may include:
      </p>
      <ul>
        <li>
          Hospitalization for medical withdrawal management (detoxification)
        </li>
        <li>
          Therapeutic communities (highly controlled, drug-free environments) or
          sober houses
        </li>
        <li>Outpatient medication management and psychotherapy</li>
        <li>Intensive outpatient programs</li>
        <li>Residential treatment (“rehab”)</li>
        <li>
          Many people find mutual-aid groups helpful (Alcoholics Anonymous,
          Narcotics Anonymous, SMART Recovery)
        </li>
        <li>
          Self-help groups that include family members (Al-Anon or Nar-Anon
          Family Groups)
        </li>
      </ul>
      <h2 class="illnesscap">
        13 principles of effective drug addiction treatment
      </h2>
      <p>
        These 13 principles of effective drug addiction treatment were developed
        based on three decades of scientific research. Research shows that
        treatment can help drug-addicted individuals stop drug use, avoid
        relapse and successfully recover their lives.
      </p>
      <ol>
        <li>
          Addiction is a complex, but treatable, disease that affects brain
          function and behavior.
        </li>
        <li>No single treatment is appropriate for everyone.</li>
        <li>Treatment needs to be readily available.</li>
        <li>
          Effective treatment attends to multiple needs of the individual, not
          just his or her drug abuse.
        </li>
        <li>
          Remaining in treatment for an adequate period of time is critical.
        </li>
        <li>
          Counseling— individual and/or group —and other behavioral therapies
          are the most commonly used forms of drug abuse treatment.
        </li>
        <li>
          Medications are an important element of treatment for many patients,
          especially when combined with counseling and other behavioral
          therapies.
        </li>
        <li>
          An individual’s treatment and services plan must be assessed
          continually and modified as necessary to ensure it meets his or her
          changing needs.
        </li>
        <li>
          Many drug-addicted individuals also have other mental disorders.
        </li>
        <li>
          Medically assisted detoxification is only the first stage of addiction
          treatment and by itself does little to change long-term drug abuse.
        </li>
        <li>Treatment does not need to be voluntary to be effective.</li>
        <li>
          Drug use during treatment must be monitored continuously, as lapses
          during treatment do occur.
        </li>
        <li>
          Treatment programs should assess patients for the presence of
          HIV/AIDS, hepatitis B and C, tuberculosis and other infectious
          diseases, as well as provide targeted risk-reduction counseling to
          help patients modify or change behaviors that place them at risk of
          contracting or spreading infectious diseases.
        </li>
      </ol>
      <h2 class="illnesscap">How to Help a Friend or Family Member</h2>
      <h3 class="illnesscap">Some suggestions to get started:</h3>
      <ul>
        <li>Learn all you can about alcohol and drug misuse and addiction.</li>
        <li>
          Speak up and offer your support: talk to the person about your
          concerns, and offer your help and support, including your willingness
          to go with them and get help. Like other chronic diseases, the earlier
          addiction is treated, the better.
        </li>
        <li>
          Express love and concern: don’t wait for your loved one to “hit
          bottom.” You may be met with excuses, denial or anger. Be prepared to
          respond with specific examples of behavior that has you worried.
        </li>
        <li>
          Don’t expect the person to stop without help: you have heard it before
          - promises to cut down, stop - but, it doesn’t work. Treatment,
          support, and new coping skills are needed to overcome addiction to
          alcohol and drugs.
        </li>
        <li>
          Support recovery as an ongoing process: once your friend or family
          member is receiving treatment, or going to meetings, remain involved.
          Continue to show that you are concerned about his/her successful
          long-term recovery.
        </li>
      </ul>
      <h3 class="illnesscap">Some things you don’t want to do:</h3>
      <ul>
        <li>
          Don't preach: Don’t lecture, threaten, bribe, preach or moralize.
        </li>
        <li>
          Don't be a martyr: Avoid emotional appeals that may only increase
          feelings of guilt and the compulsion to drink or use other drugs.
        </li>
        <li>Don't cover up, lie or make excuses for his/her behavior.</li>
        <li>
          Don't assume their responsibilities: taking over their
          responsibilities protects them from the consequences of their
          behavior.
        </li>
        <li>
          Don't argue when using: avoid arguing with the person when they are
          using alcohol or drugs; at that point he/she can’t have a rational
          conversation.
        </li>
        <li>
          Don’t feel guilty or responsible for their behavior; it’s not your
          fault.
        </li>
        <li>
          Don't join them: don’t try to keep up with them by drinking or using.
        </li>
      </ul>
      <h2 class="illnesscap">Related Conditions</h2>
      <ul>
        <li>Opioid Use Disorder</li>
        <li>Gambling Disorder</li>
        <li>Internet Gaming Disorder</li>
        <li>Caffeine Intoxication and Withdrawal</li>
      </ul>
    </div>
  </body>
</html>
