<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Suicide Prevention</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      rel="shortcut icon"
      href="/static/img/title.ico"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
      integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul class="navigation">
          <li class="item"><a class="href" href="/index">Home</a></li>
          <li class="item"><a class="href" href="/login">Login</a></li>
          <li class="item"><a class="href" href="/register">Sign Up</a></li>
          <li class="item"><a class="href" href="/aboutus">About Us</a></li>
          <li class="item">
            <a class="href" href="https://imjo.in/D4xCjy" target="_blank"
              >Donate</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <div id="heading1">
      <div id="head">
        <h1 class="heading">Suicide Prevention</h1>
      </div>
    </div>
    <div class="illness">
      <p>
        As the 10th leading cause of death in the United States and the second
        leading cause of death (after accidents) for people aged 10 to 34,
        suicide is a serious public health problem.
      </p>
      <p>
        In 2019 in the United States, over 47,000 people died by suicide and the
        rate of suicide has increased every year since 2006. An estimated 1.3
        million adults attempt suicide each year, according to the Centers for
        Disease Control and Prevention (CDC). More than one in five people who
        died by suicide had expressed their suicide intent.
      </p>
      <p>
        Men are more than three times more likely than women to take their
        lives. Firearms are the most common method of suicide (used in about
        half of all suicides).
      </p>
      <p>
        Yet, suicide is preventable. Knowing the risk factors and recognizing
        the warning signs for suicide can help prevent suicide.
      </p>
      <h2 class="illnesscap">
        Risk Factors, Warning Signs and Protective Factors
      </h2>
      <p>
        Suicide is linked to mental disorders, particularly depression and
        alcohol use disorders, and the strongest risk factor for suicide is a
        previous suicide attempt.
      </p>
      <p>
        The Suicide Prevention Resource Center defines risk and protective
        factors and warning signs:
      </p>
      <ul>
        <li>
          <strong> Risk factors</strong> are characteristics that make it more
          likely that an individual will consider, attempt or die by suicide.
        </li>
        <li>
          <strong> Warning signs </strong>indicate an immediate risk of suicide.
        </li>
        <li>
          <strong> Protective factors </strong>are characteristics that make it
          less likely that individuals will consider, attempt or die by suicide.
        </li>
      </ul>
      <h2 class="illnesscap">Risk Factors for Suicide</h2>
      <p>
        Certain events and circumstances may increase risk (not in particular
        order, except first one).
      </p>
      <ul>
        <li>Previous suicide attempt(s)</li>
        <li>A history of suicide in the family</li>
        <li>Substance misuse</li>
        <li>Mood disorders (depression, bipolar disorder)</li>
        <li>Access to lethal means (e.g., keeping firearms in the home)</li>
        <li>
          Losses and other events (for example, the breakup of a relationship or
          a death, academic failures, legal difficulties, financial
          difficulties, bullying)
        </li>
        <li>History of trauma or abuse</li>
        <li>Chronic physical illness, including chronic pain</li>
        <li>Exposure to the suicidal behavior of others</li>
      </ul>
      <p>
        In some cases, a recent stressor or sudden catastrophic event, failure
        or can leave people feeling desperate, unable to see a way out, and
        become a "tipping point" toward suicide.
      </p>
      <p>
        A recent CDC report highlights the complexity of suicide. While a mental
        health condition may be a contributing factor for many people, the
        report notes that "many factors contribute to suicide among those with
        and without known mental health conditions." A relationship problem was
        the top factor contributing to suicide, followed by crisis in the past
        or upcoming two weeks and problematic substance use.
      </p>
      <p>
        CDC reports that about half, 54 percent, of people who died by suicide
        did not have a known mental health condition. However, many of them may
        have been dealing with mental health challenges that had not been
        diagnosed or known to those around them.
      </p>
      <h2 class="illnesscap">Warning Signs of Suicide</h2>
      <ul>
        <li>Often talking or writing about death, dying or suicide</li>
        <li>Making comments about being hopeless, helpless or worthless</li>
        <li>
          Expressions of having no reason for living; no sense of purpose in
          life; saying things like "It would be better if I wasn't here" or "I
          want out."
        </li>
        <li>Increased alcohol and/or drug misuse</li>
        <li>Withdrawal from friends, family and community</li>
        <li>
          Reckless behavior or more risky activities, seemingly without thinking
        </li>
        <li>Dramatic mood changes</li>
        <li>Talking about feeling trapped or being a burden to others</li>
      </ul>
      <h2 class="illnesscap">Protective Factors</h2>
      <ul>
        <li>
          Contacts with providers (e.g., follow-up phone call from health care
          professional)
        </li>
        <li>
          Effective mental health care; easy access to a variety of clinical
          interventions
        </li>
        <li>
          Strong connections to individuals, family, community and social
          institutions
        </li>
        <li>Problem-solving and conflict resolution skills</li>
      </ul>
      <p>
        As with mental illness, one of the biggest barriers to preventing
        suicide is stigma, which prevents many people from seeking help.
      </p>
      <p>
        The CDC report recommends a comprehensive public health approach to
        suicide prevention and it identifies several strategies that states and
        communities can undertake, including such measures as teaching coping
        and problem-solving skills to help people manage challenges, expanding
        options for temporary assistance for those in need and connecting people
        at-risk to effective and coordinated mental and physical health care.
      </p>
      <h2 class="illnesscap">What You Can Do</h2>
      <p>
        If someone indicates they are considering suicide, listen and take their
        concerns seriously. Don't be afraid to ask questions about their plans.
        Let them know you care, and they are not alone. Encourage them to seek
        help immediately from a knowledgeable professional. Don't leave them
        alone.
      </p>
      <p>
        Five tips from CDC for what you can do if you're concerned about a
        friend or loved one:
      </p>
      <ul>
        <li>
          <strong> Ask someone</strong> you are worried about if they're
          thinking about suicide. (While people may be hesitant to ask, research
          shows this is helpful.)
        </li>
        <li>
          <strong> Keep them safe.</strong> Reduce access to lethal means for
          those at risk.
        </li>
        <li><strong> Be there with them. </strong>Listen to what they need.</li>
        <li><strong> Help them connect</strong> with ongoing support.</li>
        <li>
          <strong> Stay connected. </strong>Follow up to see how they’re doing
        </li>
      </ul>
      <h4 class="illnesscap">
        If you need help for yourself or someone else, visit Vandrevala
        Foundation's website<a
          class="href"
          target="_blank"
          href="https://www.vandrevalafoundation.com/"
          >(https://www.vandrevalafoundation.com/)</a
        >
        or call at their 24*7 helpline (+91 9999 666 555)
      </h4>
    </div>
  </body>
</html>
